<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico">
    <meta property="og:image" content="https://repository-images.githubusercontent.com/807192778/89138e33-c064-4629-a221-7511282949fe" />
  </head>
  <body>
    <div class="container-lg px-3">
      <div class="pt-3">
        <a href="https://acada.dev"><img src="/images/logo.svg" alt="acada robotics" /></a>
      </div>
      <div class="pt-2 pb-2">
         <h4>
           <a href="https://acada.dev">ACADA Robotics</a> • 
           <a href="https://acada.wiki">Learning System</a> • 
           <a href="https://acadadev.wiki/rosrider_doc">ROSRider Documentation</a> 
           {% if page.section_title %} • <a href="https://acada.wiki/rosrider_doc{{ page.section_url }}">{{ page.section_title }}</a>{% endif %} 
           {% if page.title %} • <a href="https://acada.wiki/rosrider_doc{{ page.title_url }}">{{ page.title }}</a>{% endif %} 
         </h4>
      </div>      
    </div>
    <div class="container-lg px-3 markdown-body">
      <hr>
      {{ content }}
      <hr>
      Copyright © 2024, ACADA Robotics • <a href="https://acada.dev">https://acada.dev</a>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
</html>
